[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=NM-applet
Comment=NetworkManager applet for panel
Exec=nm-applet &
OnlyShowIn=XFCE;
StartupNotify=false
Terminal=false
Hidden=false

